h1 {
color: blue;
}
p {
color: green;
}
ul {
color: red; list-style-type: circle; list-style-position: outside;
}
div {
border: solid 1px black; border-radius: 10px 10px 10px 10px;
}
.li { 
    color: crimson;
}
.tekst {
    color: coral;
    font-size: 20pt;
}
#menu {
    background-color:#FFFFB8;
     height:200px;
      width:150px;
     float:left;
    }